{% extends "main/base.html" %}
{% block body %}
    <div class="gap-5 flex flex-wrap">
        <div href="#" class="transition ease-out bg-white rounded-md overflow-hidden shadow hover:shadow-lg hover:scale-105">
            <img class="w-full h-64 object-cover bg-gray-100 border-b" src="https://amsi.org.au/ESA_Senior_Years/imageSenior/2d_29.png">
            <div class="p-5">
                <span class="block font-bold">Shitlord institute</span>
                <span class="text-gray-500 text-sm">of some bastard</span>
            </div>
        </div>
    </div>
{% endblock body %}